@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 238, 238);
}
.container{
    background:  linear-gradient(rgba(0, 0, 0, 0.629), rgba(0, 0, 0, 0.629)), url('images/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    max-width: 1100px;
    margin: auto;
    height: 100vh;
}
.page-header{
    text-align: center;
    margin: auto;
}
.card-img{
    width: 250px;
    filter: drop-shadow(5px 10px 15px rgba(0, 0, 0, 0.309));
    border-radius: 1000px;
}
.card{
    width: 325px;
    height: fit-content;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s ease;
}
@supports (-webkit-backdrop-filter: none){
    .card{
        -webkit-backdrop-filter: blur(1vh);
        backdrop-filter: blur(1vh);
        background-color: rgba(255, 255, 255, 0.446);
    }
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.046), 
              0 2px 4px rgba(0,0,0,0.046), 
              0 4px 8px rgba(0,0,0,0.046), 
              0 8px 16px rgba(0,0,0,0.046),
              0 16px 32px rgba(0,0,0,0.046);
}
.card-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    color: white;
}
.card-data a{
    text-decoration: none;
}
.card-pricing{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
}
.card-button{
    display: block;
    width: max-content;
    padding: 1.2rem 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #F9DC5C;
    color: black;
    text-transform: uppercase;
    border-radius: 1000px;
    margin: auto;
    filter: drop-shadow(4px 8px 12px rgba(0, 0, 0, 0.282));
    transition: 0.2s ease;
}

